__pycache__
*.egg-info
.DS_Store
replays

kaggle-environments

dist
build

*~
log.txt
submission.tar.gz
*.tar.gz

__temp__.mp4
.ipynb_checkpoints

node_modules
dist

.vscode

replay.json
replay.html
replay_*

/kits/java/target
/kits/java/.idea/
/kits/java/luxai2022.iml
/kits/java/localrun/*.jar
